* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 200px;
}

header {
  /* border: 1px solid red; */
}
header h1 {
  text-align: center;
  margin: 20px 0;
}

nav {
  /* border: 1px solid blue; */
}
nav h3 {
  text-align: center;
  margin: 40px 0;
}

.container {
  /* border: 1px solid green; */
}
.container a {
  text-decoration: none;
  color: #000;
}
.container a .sale {
  /* border: 1px solid red; */
  margin: 40px;
  padding: 20px 0;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.container a .sale p {
  font-size: 20px;
  text-align: center;
}
.container a .sale p .stress {
  color: red;
  font-size: 25px;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
}